body {
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Poppins;
  gap: 60px;
  color: #3d3d3d;
}

path {
  fill: #3d3d3d;
}

#logo-circle {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-circle:hover {
  opacity: 0.75;
  cursor: pointer;
}

#profile {
  display: flex;
  align-items: center;
  gap: 30px;
}

#profile img {
  width: 215px;
  height: 215px;
}

#profile-text {
  display: flex;
  flex-direction: column;
}

#profile-text h1 {
  font-size: 46px;
  line-height: 69px;
  font-weight: 500;
  margin: 0;
}

#profile-text p {
  font-size: 22px;
  line-height: 33px;
  font-weight: 500;
  margin: 0;
}

#logos {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 30px;
}

#section2 {
  width: 460px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#section3 {
  display: flex;
  gap: 20px;
}

#section3 button {
  width: 260px;
  height: 80px;
  border-radius: 10px;
  border: none;
  font-size: 22px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#section4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  width: 700px;
  background-color: #ffffff;
  border-radius: 10px;
}
.slider-button {
  width: 349.45px;
  height: 80px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  border: none;
}
#section4 img {
  margin-bottom: 20px;
}
#section5 {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#section5 img {
  margin-bottom: 20px;
}
#end {
  display: flex;
  align-items: center;
}
.project-card {
  width: 330px;
  height: 170px;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  margin: 4px;
}
#prj-librook {
  background-image: url("./image/librook.png");
}
#prj-burger {
  background-image: url("./image/burger.png");
}
#prj-starbucks {
  background-image: url("./image/starbucks.png");
}
#prj-paypal {
  background-image: url("./image/Paypal.png");
}
@media (max-width: 620px) {
  body {
    gap: 30px;
  }

  #logo-circle {
    width: 48px;
    height: 48px;
  }

  #logo-circle svg {
    width: 24px;
    height: 24px;
  }

  #profile {
    display: flex;
    flex-direction: column;
  }

  #profile img {
    width: 124px;
    height: 124px;
  }

  #profile-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #profile-text h1 {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
  }

  #profile-text p {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }
  #section2 {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-top: 40px;
    text-align: center;
  }

  #section2 p {
    font-size: 14px;
    line-height: 21px;
  }

  #section3 {
    height: 44px;
    width: 375px;
    padding-bottom: 30px;
  }
  #section4 {
    height: 70px;
    width: 420px;
    border-radius: 10px;
  }
  .slider-button {
    width: 175px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
  }
  #section5 {
    height: 210px;
    width: 340px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .project-card {
    width: 600px;
  }
}
